#cover-all {
  background-color: rgb(88, 88, 88);
}

footer {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

h3 {
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 0px;
  margin-top: 40px;
}

.broadcast {
  margin-top: 20px;
}
.no-bord {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 0px;
}

.left {
  margin-left: -10px;
  margin-top: 0;
}

.section-cards {
  width: 112.5%;
}

.card-left {
  margin-left: -22px;
  margin-right: 20px;
  height: 20rem;
  padding: 0;
}

.card-right {
  margin-right: 20px;
  height: 20rem;
  padding: 0;
}

.info {
  margin-top: 0px;
  list-style: none;
  margin-left: 10px;
  font-size: 25px;
}

.info-card {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 0;
  font-size: 22px;
}
.info-card li {
  margin-bottom: 10px;
}

.info-card li:first-child {
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.classic {
  background-color: rgb(255, 193, 7);
}

/* =============Animation for FOOTER================ */
h5 {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  font-size: 25px;
}

h5 span {
  vertical-align: -15px;
  font-weight: bold;
  opacity: 0.1;
  animation-name: glowing;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes glowing {
  0%,
  100% {
    opacity: 1;
    /* filter: blur(2px); */
    text-shadow: 0 0 10px rgb(255, 193, 7), 0 0 20px rgb(255, 193, 7),
      0 0 40px rgb(255, 193, 7), 0 0 80px rgb(255, 193, 7),
      0 0 160px rgb(255, 193, 7), 0 0 320px rgb(255, 193, 7),
      0 0 640px rgb(255, 193, 7);
  }
  7%,
  93% {
    opacity: 0.1;
    filter: blur(0);
    text-shadow: none;
  }
}
